# 线性回归（多变量）

#### 房价预测。 ex1data2.txt：面积、卧室数、房价

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
%%html
<img src="./img/cost.png", width=320, heigth=240>

In [3]:
# 代价函数
# .T是表示转置
def computerCosr(X, Y, theta):
    inner = np.power((X * theta.T) - Y, 2)
    return np.sum(inner) / (2 * len(X))

In [4]:
%%html
<img src="./img/gradient.png", width=320, heigth=240>

In [5]:
# 梯度下降
def gradientDsecent(X, Y, theta, alpha, iters):
    temp = np.matrix(np.zeros(theta.shape))
    parameters = int(theta.shape[1])
    cost = np.zeros(iters)

    for i in range(iters):
        error = X * theta.T - Y
        
        for j in range(paramaters):
            term = np.multiply(error, X[:, j])
            temp[0, j] = temp[0, j] - alpha / len[X] * np.sum(term)
            
        theta = temp
        cost[i] = computerCost(X, Y, theta)
    
    return theta, cost

In [17]:
path = 'ex1data2.txt'
data = pd.read_csv(path, header=None, names=['Size', 'Bedrooms', 'Price'])
data.head()

   Size  Bedrooms   Price
0  2104         3  399900
1  1600         3  329900
2  2400         3  369000
3  1416         2  232000
4  3000         4  539900